<div class="card mb-5" *ngIf="dataLoaded" (click)="showCharacterDetails()">
  <div class="card-body text-center">
    <h5 class="card-title">{{ characterData.name }}</h5>
    <p class="card-text"></p>
  </div>
  <div class="text-center">
    <img [src]="characterData.image" class="card-img-top" [alt]="characterData.name">
  </div>
  <div class="row align-items-center">
    <div class="col-sm-12 col-md-6 text-center">
    </div>
  </div>
</div>

<ngx-loading
  [show]="!dataLoaded"
  [config]="{ backdropBorderRadius: '10px', fullScreenBackdrop: false }"
></ngx-loading>
