<div class="card mb-5" *ngIf="dataLoaded">
  <div class="card-body text-center">
    <h5 class="card-title">{{ characterData.name }}</h5>
    <p class="card-text"></p>
  </div>
  <div class="row align-items-center">
    <div class="col-sm-12 col-md-6 text-center">
      <div class="text-center">
        <img [src]="characterData.image" class="card-img-top" [alt]="characterData.name">
      </div>
    </div>
    <div class="col-sm-12 col-md-6 text-center">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><span class="cardTitle">Status:</span> {{ characterData.status }}</li>
        <li class="list-group-item"><span class="cardTitle">Gender:</span> {{ characterData.gender }}</li>
        <li class="list-group-item"><span class="cardTitle">Species:</span> {{ characterData.species }}</li>
        <li class="list-group-item changeCursor" (click)="viewDataFromLocation(characterData.location.url)"><span class="cardTitle cardTitleClick">Location:</span> {{ characterData.location.name }}</li>
        <li class="list-group-item changeCursor" (click)="viewDataFromLocation(characterData.origin.url)"><span class="cardTitle cardTitleClick">Origin:</span> {{ characterData.origin.name }}</li>
        <li class="list-group-item"><span class="cardTitle" *ngIf="characterData.type">type:</span> {{ characterData.type }}</li>
      </ul>
    </div>
  </div>
</div>

<ngx-loading
  [show]="!dataLoaded"
  [config]="{ backdropBorderRadius: '10px', fullScreenBackdrop: true }"
></ngx-loading>