<div class="d-flex justify-content-between mt-5">
  <div></div>
  <div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" (click)="updateIndexCharacterTable(1)" aria-label="Previous">
            <span aria-hidden="true">First</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="updateIndexCharacterTable(page-1)" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <ng-container *ngFor="let pageNumber of navigatorOptions">
          <li class="page-item">
            <a class="page-link" [class.page-link-selected]="pageNumber == page" (click)="updateIndexCharacterTable(pageNumber)">{{ pageNumber }}</a>
          </li>
        </ng-container>
        <li class="page-item">
          <a class="page-link" (click)="updateIndexCharacterTable(page+1)" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="updateIndexCharacterTable(pageMaxLimit)" aria-label="Next">
            <span aria-hidden="true">Last</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<table class="table table-hover"><CAPTION></CAPTION>
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let character of charactersList" (click)="showCharacterDetails(character.id)" class="rowToSelect">
      <th scope="row" class="align-middle">{{ character.id }}</th>
      <td>
        <img [src]="character.image" class="img-thumbnail custom-thumbnail" [alt]="character.name">
      </td>
      <td class="align-middle">{{ character.name }}</td>
      <td class="align-middle">{{ character.status }}</td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between mt-5">
  <div></div>
  <div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" (click)="updateIndexCharacterTable(1)" aria-label="Previous">
            <span aria-hidden="true">First</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="updateIndexCharacterTable(page-1)" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <ng-container *ngFor="let pageNumber of navigatorOptions">
          <li class="page-item">
            <a class="page-link" [class.page-link-selected]="pageNumber == page" (click)="updateIndexCharacterTable(pageNumber)">{{ pageNumber }}</a>
          </li>
        </ng-container>
        <li class="page-item">
          <a class="page-link" (click)="updateIndexCharacterTable(page+1)" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="updateIndexCharacterTable(pageMaxLimit)" aria-label="Next">
            <span aria-hidden="true">Last</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<ngx-loading
  [show]="showLoader"
  [config]="{ backdropBorderRadius: '10px' }"
></ngx-loading>